.header {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    .wrapper { 
        max-width: 1518px;
        width: 94%; 
        @extend %display; 
    }
    .header__logo {
        width: 12%;
        display: inline-block;
        a { 
            width: 100%; 
            img {
                width: 29%;
                border: 1px solid $primary-color3;
                @include radius(50%);
            }
            span {
                margin-left: 5%;
                display: $display;
                vertical-align: middle;
                color: #FDFDFD;;
                font-size: 28px;
                text-transform: $text-trans;
            }
        }
    }
    .menu {
        width: 35%;
        margin-left: 3%;
        .menu__hamburger { display: none; }
        ul:first-child {
            margin-top: 8px;
            @extend %display;
            li {
                a {
                    padding: 6px;
                    color: #F4FCF8;
                    font-size: 15px;
                    text-transform: $text-trans;
                    transition: $transition;
                    &:hover { color: $primary-color3; }
                }  
            }
            .menu__sub-menu {
                width: 11%;
                position: relative;
                display: inline-block;
                cursor: pointer;
                text-align: $align;
                a::after {
                    content: "\f107";
                    margin-left: 3px;
                    color: #E5E6E9;
                    font-family: $icon-family;  
                    &:hover { 
                        content: "\f106";
                        font-family: $icon-family;
                    } 
                }
                ul {
                    min-width: 160px;
                    display: none;
                    position: absolute;
                    z-index: 2;
                    background-color: #f9f9f9;
                }
            }
        }
    }
    .header-right {
        width: 20%;
        div { 
            display: $display;
            font-size: 15px;
            &:first-child {
                margin-right: 3%;
                a {
                    color: $primary-color1;
                    transition: $transition;
                    &:before {
                        content: "\f095";
                        margin-right: 2px;
                        color: $primary-color3;
                        font-family: $icon-family;
                    }
                    &:hover { color: $primary-color3; }
                }
            }
            &:last-child {
                a {
                    padding: 15px 8px;
                    border: 2px solid $primary-color3;
                    border-radius: 5px;
                    color: $primary-color3;
                    text-transform: $text-trans;
                    transition: 1s;
                    &:hover {
                        background-color: $primary-color3;
                        color: $primary-color1;
                    }
                }
            }
        }

    }
}