$text-trans: capitalize;
$display: inline-block;
$display1: block;
$align: center;
$weight: bold;
$icon-family: "FontAwesome";
$primary-color1: #FFFFFF;
$primary-color2: #000000;
$primary-color3: #33D2D3;
$primary-color4: #04124B;
$primary-color5: #A7AAB3;